<%- contentFor('hero') %>
    Products
    <%- contentFor('body') %>
        <div class="row">
            <% for(var i=0; i<products.length; i++) {%>
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="<%= products[i].avatar %>" width="200">
                        <div class="card-block">
                            <h4 class="card-title">
                                <%= products[i].name %>
                            </h4>
                            <p class="card-text">ID :
                                <%= products[i].id %>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <%= products[i].company %>
                            </li>
                            <li class="list-group-item">
                                <%= products[i].price %> $</li>
                        </ul>
                    </div>
                </div>
                <% } %>